page-page1 {
    .back-button{
      color:#FFF;
    }
    .toolbar-title{
      color:#FFF;
    }
    
    .col-title{
      min-width: 80%;
    } 
    .toolbar-background{
      background-color:#333333; 
    }
}


